<h1>Welcome</h1>

   <p>As you begin or continue your studies, let's start building what you learn into lessons</p>

<%= link_to 'Sign Up', signup_path%>
<%= link_to 'Log In', login_path%>
<%= link_to 'Login with Google', '/auth/google_oauth2', method: "post" %>